.contents.row
  - @tweets.each do |tweet|
    .content_post{:style => "background-image: url(#{tweet.image});"}
      - if user_signed_in? && tweet.user_id = current_user.id
        .more
          %span 
          
          %ul.more_list
            %li
              =link_to '削除', tweet_path(tweet), method: 'delete'  
      = simple_format(tweet.text)
      %span.name
        %span
          投稿者 
          = current_user.nickname
= paginate(@tweets)